{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}

{{- /* Custom CSS area start */ -}}
<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
{{- /* Custom CSS area end */ -}}

<meta name="google-adsense-account" content="ca-pub-xxxxxxxxxxxxxxxx">

<script async 
  src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-xxxxxxxxxxxxxxxx"
  crossorigin="anonymous">
</script>

