{{ $img := resources.Get .src }}

{{ $small := $img.Resize "480x webp" }}
{{ $medium := $img.Resize "768x webp" }}
{{ $large := $img.Resize "1200x webp" }}

<picture>

<source media="(max-width:480px)" srcset="{{ $small.RelPermalink }}" type="image/webp">
<source media="(max-width:768px)" srcset="{{ $medium.RelPermalink }}" type="image/webp">
<source media="(min-width:769px)" srcset="{{ $large.RelPermalink }}" type="image/webp">

<img src="{{ $large.RelPermalink }}" alt="{{ .alt }}" loading="lazy">

</picture>